.view {
  display: grid;
  grid-template-columns: auto;
}
.search-input {
  width: 85%;
  padding: 10px;
  border-radius: 5px;
}
.searchBtn {
  padding: 8px;
  margin-left: 5px;
  border-radius: 5px;
}
